<!-- live server:exclude -->

<!DOCTYPE html>
<html lang="en">

<header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    <p>
      I am an experimental physicist at INESC TEC in Porto, Portugal, specializing in paraxial fluids of light as a platform for optical analogue simulations. My work spans advanced research in nonlinear optics, where I explore the development of experimental quantum simulators that emulate quantum fluid dynamics with high precision and tunability. Additionally, I focus on optical computing, implementing experimental analogues of extreme learning machines, reservoir computing, and diffractive neural networks. Recently, I have also ventured into the realm of experimental quantum optics, aiming to advance the capabilities of quantum sensing and information processing.

    <p>
      In addition to my primary focus on experimental work, I have a strong interest in theoretical physics and enjoy exploring new topics and mathematical models. I also possess robust programming skills, including developing numerical solvers for high-performance GPGPU supercomputing (C++, Python, Arrayfire, CUDA), conducting data analysis with Python, automating experiments with Arduinos, and applying machine learning and deep learning techniques.
    </p>
  </section>


  <!--
    - service
  -->

  <section class="service">

    <h3 class="h3 service-title">What i'm doing</h3>

    <ul class="service-list">

      <li class="service-item">

        <div class="service-icon-box">
          <svg fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
          viewBox="0 0 274.359 274.359" xml:space="preserve" class="icon">
        <g>
          <polygon points="112.547,193.338 189.496,96.326 121.505,76.654 73.794,168.075 	"/>
          <path d="M245.533,98.092c-6.493-5.149-15.926-4.061-21.073,2.431L119.064,233.398l-84.465-55.063l78.524-150.462
            c3.833-7.345,0.986-16.405-6.357-20.238c-7.349-3.837-16.408-0.983-20.238,6.357L1.704,176.526
            c-3.573,6.847-1.364,15.288,5.106,19.506l107.321,69.962c6.49,4.231,15.129,2.824,19.944-3.244l113.889-143.585
            C253.112,112.675,252.023,103.24,245.533,98.092z"/>
          <path d="M259.359,158.702c-8.284,0-15,23.716-15,32c0,8.284,6.716,15,15,15c8.284,0,15-6.716,15-15
            C274.359,182.417,267.643,158.702,259.359,158.702z"/>
        </g>
        </svg>
      </div>


        <div class="service-content-box">
          <h4 class="h4 service-item-title">Paraxial Fluids of Light</h4>

          <p class="service-item-text">
            My primary research focuses on paraxial fluids of light, utilizing a photorefractive crystal as the nonlinear medium. This platform enables the exploration of intriguing phenomena, including optical analogues of superfluidity, two-dimensional quantum turbulence, topological effects, and even certain gravitational models.
          </p>
        </div>

        <!-- <div class="icon">
          <ion-icon name="mail-outline"></ion-icon>
        </div> -->

      </li>

      <li class="service-item">

      <div class="service-icon-box">
          <svg fill="#000000" width="800px" height="800px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M20 7v7c0 1.103-.896 2-2 2H2c-1.104 0-2-.897-2-2V7a2 2 0 0 1 2-2h7V3l4 3.5L9 10V8H3v5h14V8h-3V5h4a2 2 0 0 1 2 2z"/></svg>
      </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Digital Feedback Loop</h4>

          <p class="service-item-text">
            I am also involved in developing a Digital Feedback Loop for paraxial fluids of light, which extends the effective emulation time of optical analogues by overcoming the limitations imposed by the fixed physical length of the medium.
          </p>
        </div>

      </li>

      <li class="service-item">

        <!-- <div class="service-icon-box">
          <img src="./assets/images_tiago/optical_computing.svg" alt="Web development icon" width="60">
        </div> -->

        <div class="service-icon-box">
            <svg fill="#000000" width="60" height="60" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg" class="icon">
              <defs>
                <style>
                  .cls-1 {
                    fill: none;
                  }
                </style>
              </defs>
              <path d="M27,24a2.9609,2.9609,0,0,0-1.2854.3008L21.4141,20H18v2h2.5859l3.7146,3.7148A2.9665,2.9665,0,0,0,24,27a3,3,0,1,0,3-3Zm0,4a1,1,0,1,1,1-1A1.0009,1.0009,0,0,1,27,28Z"/>
              <path d="M27,13a2.9948,2.9948,0,0,0-2.8157,2H18v2h6.1843A2.9947,2.9947,0,1,0,27,13Zm0,4a1,1,0,1,1,1-1A1.0009,1.0009,0,0,1,27,17Z"/>
              <path d="M27,2a3.0033,3.0033,0,0,0-3,3,2.9657,2.9657,0,0,0,.3481,1.373L20.5957,10H18v2h3.4043l4.3989-4.2524A2.9987,2.9987,0,1,0,27,2Zm0,4a1,1,0,1,1,1-1A1.0009,1.0009,0,0,1,27,6Z"/>
              <path d="M18,6h2V4H18a3.9756,3.9756,0,0,0-3,1.3823A3.9756,3.9756,0,0,0,12,4H11a9.01,9.01,0,0,0-9,9v6a9.01,9.01,0,0,0,9,9h1a3.9756,3.9756,0,0,0,3-1.3823A3.9756,3.9756,0,0,0,18,28h2V26H18a2.0023,2.0023,0,0,1-2-2V8A2.0023,2.0023,0,0,1,18,6ZM12,26H11a7.0047,7.0047,0,0,1-6.92-6H6V18H4V14H7a3.0033,3.0033,0,0,0,3-3V9H8v2a1.0009,1.0009,0,0,1-1,1H4.08A7.0047,7.0047,0,0,1,11,6h1a2.0023,2.0023,0,0,1,2,2v4H12v2h2v4H12a3.0033,3.0033,0,0,0-3,3v2h2V21a1.0009,1.0009,0,0,1,1-1h2v4A2.0023,2.0023,0,0,1,12,26Z"/>
              <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
            </svg>
   
        </div>
      
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Optical Computing</h4>

          <p class="service-item-text">
            My research also focuses on optical computing, exploring optical implementations of extreme learning machines, reservoir computing, and diffractive neural networks from both experimental and theoretical perspectives.
          </p>
        </div>

      </li>

      <li class="service-item">

        <!-- <div class="service-icon-box">
          <img src="./assets/images_tiago/optical_computing.svg" alt="Web development icon" width="60">
        </div> -->

        <div class="service-icon-box">
          
          <svg width="800px" height="800px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M291.17 299.252l109.093 150.173-21.76 15.786-109.07-150.16v72.135h-26.865V315.05l-109.07 150.16-21.74-15.795 109.07-150.163-68.6 22.287-8.307-25.555 68.602-22.287L36 216.348l8.307-25.565 176.533 57.362-42.404-58.36 21.686-15.776 42.446 58.36V46.79h26.864v185.58l42.446-58.36 21.74 15.795-42.404 58.36 176.48-57.382L476 216.337 299.467 273.71l68.602 22.286-8.308 25.554z"/></svg>

        </div>
      
        <div class="service-content-box">
          <h4 class="h4 service-item-title">Quantum Optics</h4>

          <p class="service-item-text">
            Currently, I am exploring a new research direction in experimental quantum optics. My goal is to develop and utilize single-photon sources to study the Hong–Ou–Mandel effect, with applications in quantum sensing and quantum imaging. Furthermore, I aim to leverage these configurations to investigate advanced imaging techniques involving undetected photons.
          </p>
        </div>

      </li>

    </ul>

  </section>


  <section class="service">

    
    <h3 class="h3 service-title">Where I am</h3>
    <p class="service-item-text">
      I am currently working in Porto at <a href="https://www.inesctec.pt/en" class="bold-link">INESC TEC</a>, specifically in the <a href="https://www.inesctec.pt/en/centres/cap" class="bold-link">Centre for Applied Photonics</a>, which is situated within the <a href="https://www.up.pt/fcup/pt/" class="bold-link">Faculty of Sciences at the University of Porto</a>.
    </p>

  
  </section>