<!-- live server:exclude -->

<!DOCTYPE html>
<html lang="en">




<ul class="project-list">


      <!-- Research Papers  -->

      <li class="project-item active" data-filter-item data-category="papers, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://journals.aps.org/prl/accepted/6607dY14Z121c687461223a3c47313e5d373feac4')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2024_RP_DFL.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Digital feedback loop in paraxial fluids of Light: A gate to new phenomena in analogue physical simulations</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Ariel Guerreiro, and Nuno A. Silva</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="papers, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://journals.aps.org/pra/abstract/10.1103/PhysRevA.109.043704')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2024_RP_KHI.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Exploring the dynamics of the Kelvin-Helmholtz instability in paraxial fluids of light</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Jakub Garwoła, and Nuno A. Silva</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="papers, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://iopscience.iop.org/article/10.1088/1367-2630/aca49a/meta')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2023_RP_TEC.jpg" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Towards the experimental observation of turbulent regimes and the associated energy cascades with paraxial fluids of light</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Vicente Rocha, Duarte Silva, Ariel Guerreiro, Nuno A Silva</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>
      
      <li class="project-item active" data-filter-item data-category="papers, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://journals.aps.org/prd/abstract/10.1103/PhysRevD.103.124019')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2021_RP_PSNMCGR.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Pressureless static solutions in a Newton-Yukawa gravity model</h3>

          <h3 class="project-authors">Tiago D. Ferreira, João Novo, Nuno A Silva, A Guerreiro, O Bertolami</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="papers, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://journals.aps.org/prd/abstract/10.1103/PhysRevD.103.124019')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2020_RP_NMC_1.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Using numerical methods from nonlocal optics to simulate the dynamics of N-body systems in alternative theories of gravity</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Nuno A Silva, O Bertolami, C Gomes, A Guerreiro</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="papers, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://journals.aps.org/pra/abstract/10.1103/PhysRevA.98.023825')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2018_RP_NLC.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Superfluidity of light in nematic liquid crystals</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Nuno A Silva, A Guerreiro</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="papers, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.3390/atoms12020010')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2024_RP_OELM_AVI.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Optical Extreme Learning Machines with Atomic Vapors</h3>

          <h3 class="project-authors">Nuno A. Silva, Vicente V. Rocha and Tiago D. Ferreira</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="papers, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1142/S0129183121500418')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/generic_paper.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Hardware-neutral tools for the exploration of optical phenomena in near-resonant atomic systems</h3>

          <h3 class="project-authors">Nuno A Silva, Tiago D. Ferreira, Ariel Guerreiro</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="papers, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://iopscience.iop.org/article/10.1088/1367-2630/abda84/meta')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2021_RP_SOLITONS_COMPUTING.jpg" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Reservoir computing with solitons</h3>

          <h3 class="project-authors">Nuno A Silva, Tiago D. Ferreira, Ariel Guerreiro</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="papers, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1016/j.rio.2020.100025')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2021_RP_EXPLORING_QT.jpg" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Exploring quantum-like turbulence with a two-component paraxial fluid of light</h3>

          <h3 class="project-authors">Nuno A Silva, Tiago D. Ferreira, Ariel Guerreiro</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>

      <li class="project-item active" data-filter-item data-category="papers, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://iopscience.iop.org/article/10.1088/1361-6455/ab6050/meta')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2020_RP_DS_SOLITONS.jpg" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Dissipative solitons in an atomic medium assisted by an incoherent pumping field</h3>

          <h3 class="project-authors">Nuno A Silva, AL Almeida, Tiago D Ferreira, Ariel Guerreiro</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>



      <li class="project-item active" data-filter-item data-category="papers, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://iopscience.iop.org/article/10.1088/1361-6501/ad0e3d/meta')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2024_RP_TW.jpg" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Autonomous and intelligent optical tweezers for improving the reliability and throughput of single particle analysis</h3>

          <h3 class="project-authors">Joana Teixeira, Felipe C Moreira, João Oliveira, Vicente Rocha, Pedro AS Jorge, Tiago Ferreira, Nuno A Silva</h3>

          <p class="project-category">Research Papers</p>

        </a>
      </li>

      <!-- Conference Proceedings  -->

      <li class="project-item  active" data-filter-item data-category="proceedings, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.3021903')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2024_CP_OFL.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Exploring new phenomena in analogue physical simulations through an optical feedback loop in paraxial light fluids</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Ariel Guerreiro and Nuno A Silva</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://iopscience.iop.org/article/10.1088/1742-6596/2407/1/012019/meta')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2023_CP_RCPC.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Reservoir computing with nonlinear optical media</h3>

          <h3 class="project-authors">Tiago D Ferreira, Nuno A Silva, Duarte Silva, Carla C Rosa, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://journals.fe.up.pt/index.php/upjeng/article/view/10_24840_2183-6493_008-003_0009')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2022_CP_NLC_TURBULENCE.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Nematic Liquid Crystals as a Tabletop Platform for Studying Turbulence</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Nuno A Silva, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2592311')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2021_CP_SENLC.jpg" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Superfluid effects in defocusing nematic liquid crystals</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Nuno A Silva, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2592316')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2021_CP_AC_2A.jpg" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">	
            Analogue cosmology: using techniques from nonlinear optics to study modified theories of gravity with non-minimal coupling between curvature and matter</h3>

          <h3 class="project-authors">Tiago D. Ferreira, João Novo, O Bertolami, Nuno A Silva, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>


      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.3021888')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/generic_proccedings.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">All-optical output layer in photonic extreme learning machines</h3>

          <h3 class="project-authors">Vicente Rocha, Tiago D. Ferreira and Nuno A. Silva</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.3022338')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/generic_proccedings.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Enabling optical extreme learning machines with nonlinear optics</h3>

          <h3 class="project-authors">Nuno A. Silva, Vicente V. Rocha and Tiago D. Ferreira</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1051/jeos/2023001')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2023_CP_HIDDEN_Duarte.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Exploring the hidden dimensions of an optical extreme learning machine</h3>

          <h3 class="project-authors">Duarte Silva, Tiago Ferreira, Felipe C Moreira, Carla C Rosa, Ariel Guerreiro, Nuno A Silva</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1051/epjconf/202226613034')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2022_CP_UOELM.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Unravelling an optical extreme learning machine</h3>

          <h3 class="project-authors">Duarte Silva, Nuno A Silva, Tiago D Ferreira, Carla C Rosa, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2592329')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2021_CP_RESERVOIR_COMPUTING.jpg" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Reservoir computing with optical solitons</h3>

          <h3 class="project-authors">Nuno Azevedo Silva, Tiago D. Ferreira, Duarte J Silva, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2592334')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2021_CP_EXPLORE_QT.jpg" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Exploring quantum-like turbulence with a two-component paraxial fluid of light</h3>

          <h3 class="project-authors">Nuno Azevedo Silva, Tiago D. Ferreira, Vicente Rocha, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>


      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2527336')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/generic_proccedings.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">A hardware-independent solution for high-performance simulations of the Maxwell-Bloch system</h3>

          <h3 class="project-authors">Nuno Azevedo Silva, Tiago D. Ferreira, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2527441')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/generic_proccedings.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Hilight: a new simulation platform for advanced photonics</h3>

          <h3 class="project-authors">A. Guerreiro, Nuno A. Silva, João Costa, Miguel Gomes, Ruben Alves, Tiago D. Ferreira, Inês S. Madureira, André L. Almeida, André A. M. Pereira</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2527440')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/generic_proccedings.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Quantum fluid equations for atomic gases</h3>

          <h3 class="project-authors">A. Guerreiro, Tiago D. Ferreira, Nuno A. Silva</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2527338')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/generic_proccedings.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Exploring dissipative optical solitons controlling gain and loss in atomic systems</h3>

          <h3 class="project-authors">Nuno A. Silva, Tiago D. Ferreira, A. Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2527305')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2019_CP_HPS.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">High-performance solver of the multidimensional generalized nonlinear Schrödinger equation with coupled fields</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Nuno A. Silva, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2526408')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2019_CP_TUANLC.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Developing tunable optical analogues using nematic liquid crystals</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Nuno A. Silva, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>

      <li class="project-item  active" data-filter-item data-category="proceedings, author">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2527295')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/2019_CP_NBODY.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Simulating N-body systems for alternative theories of gravity using solvers from nonlocal optics</h3>

          <h3 class="project-authors">Tiago D. Ferreira, Nuno A. Silva, O. Bertolami, C. Gomes, Ariel Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>


      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2527321')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/generic_proccedings.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Fluids of light in atomic systems: from superfluidity to quantum simulations</h3>

          <h3 class="project-authors">Nuno A. Silva, Tiago D. Ferreira, A. Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>


      <li class="project-item  active" data-filter-item data-category="proceedings, collaborator">
        <a href="#">

          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline" onclick="openInNewTab('https://doi.org/10.1117/12.2272061')"></ion-icon>
            </div>

            <img src="./assets/images_tiago/publications/generic_proccedings.png" loading="lazy" class="custom-image-size">
          </figure>

          <h3 class="project-title">Tunable light fluids using quantum atomic optical systems</h3>

          <h3 class="project-authors">Nuno A. Silva, Tiago D. Ferreira, J. C. Costa, M. Gomes, R. A. Alves, A. Guerreiro</h3>

          <p class="project-category">Conference Proceedings</p>

        </a>
      </li>


</ul>



  
<h2 class="h2 service-title" style="margin-top: 50px;">Oral Presentations</h2>

<li class="poster-item">
  <h3 class="poster-title">Unlocking New Dynamics in Paraxial Fluids of Light with an Optical Feedback Loop</h3>
  <p class="poster-conference">6th International Conference on Application of Optics and Photonics 2024</p>
  <p class="poster-date">Date: July 16-19, 2024 - Aveiro, Portugal</p>
  <div class="poster-icons">
    <ion-icon name="eye-outline" onclick="openInNewTab('/assets/PDFs/presentations_pdfs/2024_AOP_OFL.pdf')" title="View PDF"></ion-icon>
    <ion-icon name="download-outline" onclick="downloadPDF('/assets/PDFs/presentations_pdfs/2024_AOP_OFL.pdf')" title="Download PDF"></ion-icon>
  </div>
</li>


<h2 class="h2 service-title" style="margin-top: 50px;">Poster Presentations</h2>


<ul class="poster-list">

  <!-- Poster Item -->
  <li class="poster-item">
    <h3 class="poster-title">Development of an Optical Feedback Loop for Paraxial Fluids of Light</h3>
    <p class="poster-conference">Quantum Fluids of Light and Matter 2024</p>
    <p class="poster-date">Date: November 15-19, 2024 - Erice, Italy</p>
    <div class="poster-icons">
      <ion-icon name="eye-outline" onclick="openInNewTab('/assets/PDFs/poster_pdfs/2024_11_QFLM.pdf')" title="View PDF"></ion-icon>
      <ion-icon name="download-outline" onclick="downloadPDF('/assets/PDFs/poster_pdfs/2024_11_QFLM.pdf')" title="Download PDF"></ion-icon>
    </div>
  </li>

  <li class="poster-item">
    <h3 class="poster-title">Exploring New Phenomena in Analogue Physical Simulations through an Optical Feedback Loop in Paraxial Light Fluids</h3>
    <p class="poster-conference">SPIE Photonics Europe 2024</p>
    <p class="poster-date">Date: April 12-16, 2024 - Strasbourg, France</p>
    <div class="poster-icons">
      <ion-icon name="eye-outline" onclick="openInNewTab('/assets/PDFs/poster_pdfs/2024_11_QFLM.pdf')" title="View PDF"></ion-icon>
      <ion-icon name="download-outline" onclick="downloadPDF('/assets/PDFs/poster_pdfs/2024_11_QFLM.pdf')" title="Download PDF"></ion-icon>
    </div>
  </li>

  <li class="poster-item">
    <h3 class="poster-title">Reservoir computing with nonlinear optical media</h3>
    <p class="poster-conference">5th International Conference on Application of Optics and Photonics 2024</p>
    <p class="poster-date">Date: July 18-22, 2022 - Braga, Portugal</p>
    <div class="poster-icons">
      <ion-icon name="eye-outline" onclick="openInNewTab('/assets/PDFs/poster_pdfs/2022_AOP_RC_NOP.pdf')" title="View PDF"></ion-icon>
      <ion-icon name="download-outline" onclick="downloadPDF('/assets/PDFs/poster_pdfs/2022_AOP_RC_NOP.pdf')" title="Download PDF"></ion-icon>
    </div>
  </li>

  <!-- Add more poster items as needed -->



</ul>


