<!-- live server:exclude -->

<!DOCTYPE html>
<html lang="en">


<header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Doctor of Philosophy (Ph.D.) in Physics</h4>

        <p class="timeline-text-location">INESC TEC, Faculdade de Ciencias da Universidade do Porto</p>

        <span>2019 — 2024</span>

        <p class="timeline-text">
          In my doctoral research, entitled: <a href="https://hdl.handle.net/10216/159180" class="bold-link">"Advances in Paraxial Fluids of Light with Photorefractive Media"</a>, I developed experimental techniques to generate and manipulate light as a fluid using photorefractive media, enabling the study of complex phenomena such as quantum turbulence and superfluidity. A key innovation was the development of a digital feedback loop, significantly extending the effective emulation time, allowing for a more in-depth exploration of optical analogues.
          
        </p>

      </li>

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Master's Degree in Physical Engineering</h4>

        <p class="timeline-text-location">Faculdade de Ciencias da Universidade do Porto, INESC TEC</p>

        <span>2013 — 2018</span>

        <p class="timeline-text">
          The Master’s in Physical Engineering focuses primarily on physics and mathematics, complemented by studies in computer science, chemistry, management, and engineering. This program concluded with a thesis titled <a href="	https://hdl.handle.net/10216/118653" class="bold-link">"Superfluidity of Light: a Stepping Stone Towards Optical Analogues in Nematic Liquid Crystals"</a>, which explored optical analogues in nematic liquid crystals. This work employed GPGPU supercomputing in C++ and Python for numerical modeling, and included contributions to developing solvers for nonlinear and nonlocal quantum many-body systems.
        </p>

      </li>

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Science and Technologies High School Program</h4>

        <p class="timeline-text-location">Escola Secundária de Vilela</p>

        <span>2010 — 2013</span>

        <p class="timeline-text">
          Completed the Portuguese Science and Technology high school program, with a strong focus on physics, chemistry, and mathematics.
        </p>

      </li>

    </ol>

  </section>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Post-Doc Researcher at INESC TEC</h4>

        <p class="timeline-text-location">INESC TEC</p>

        <span>2023 — Present</span>

        <p class="timeline-text">
          I am currently a researcher at INESC TEC, where I focus on advancing photonics research by enhancing the paraxial fluids of light laboratory, developing wavefront shaping applications for optical computing, and establishing a quantum optics lab dedicated to quantum sensing and imaging.
        </p>

      </li>

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Visiting Researcher at the Quantum Fluid of Light Lab at the Kastler Brossel Laboratory</h4>

        <p class="timeline-text-location">Sorbonne Université</p>

        <span>2024 — 2023</span>

        <p class="timeline-text">
          I worked in the <a href="https://www.quentinglorieux.fr/" class="bold-link">Quantum Fluid of Light Lab</a> under the supervision of Dr. Quentin Glorieux, collaborating with Tangui Aladjidi on research involving paraxial fluids of light in hot atomic vapors. Our objective was to investigate the superfluid transition along the vapor cell. During this time, I gained in-depth knowledge of the fundamentals and experimental techniques related to hot atomic vapors, as well as methods for probing the dispersion relation in these systems. This experience enriched my understanding of both theoretical and practical aspects of superfluidity in optical systems.
        </p>

      </li>

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Advanced Study Course on Optical Chemical Sensors (ASCOS)</h4>

        <p class="timeline-text-location">University Center Obergurgl, Austria</p>

        <span>2022 — 2022</span>

        <p class="timeline-text">
          I spent a week at the University Centre Obergurgl, where I studied optical, chemical, and biosensors. During this time, I participated in a challenge to develop an optical sensor for detecting methane leaks in enclosed environments. Our team’s solution was awarded first prize.
        </p>

      </li>

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Research Assistan</h4>

        <p class="timeline-text-location">INESC TEC</p>

        <span>2019 — 2019</span>

        <p class="timeline-text">
          Developed high-performance solvers using GPGPU supercomputing in C++ and Python to investigate light interactions within quantum many-body systems. Additionally, explored the application of these solvers in the development of optical nanosensors and the study of optical analogues.
        </p>

      </li>


      <li class="timeline-item"></li>

        <h4 class="h4 timeline-item-title">PEEC - Extra-Curricular Internship Program: Sensors and Nanometric Actuators based on Magnetoestritive Materials</h4>

        <p class="timeline-text-location">IFIMUP</p>

        <span>2016 — 2017</span>

        <p class="timeline-text">
          Conducted simulation work using COMSOL, complemented by experimental development to validate and test the model.
        </p>

      </li>

    </ol>

  </section>


  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Teaching</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Assistance Lecture at Faculdade de Ciências da Universidade do Porto </h4>

        <p class="timeline-text-location">Porto</p>

        <span>2020 — 2021</span>

        <p class="timeline-text">
          Physics Laboratory I and Physics Laboratory III.
        </p>

      </li>

    
    </section>



  <section class="skill">

    <!-- <h3 class="h3 skills-title"></h3> -->

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="construct-outline"></ion-icon>
      </div>

      <h3 class="h3">Scientific techniques</h3>
    </div>

    <ul class="skills-list content-card">

    <p class="timeline-text">
      Experience in <span class="highlight">free space optical setups</span> with <span class="highlight">nonlinear optical media</span> (photorefractive crystals and hot atomic vapors). Experience with <span class="highlight">wavefront shaping applications</span> with <span class="highlight">spatial light modulators</span> and beam measurements through <span class="highlight">digital off-axis holography</span>. Experience with experimental setups for <span class="highlight">optical computing</span> dedicated to <span class="highlight">extreme learning machines</span> and <span class="highlight">reservoir computing</span>. Some experience with <span class="highlight">diffractive neural networks</span>, <span class="highlight">holographic optical tweezers</span>, <span class="highlight">laser induced breakdown spectroscopy</span>, and <span class="highlight">optical fibers</span>.

    </p>


    </ul>

  </section>


  <section class="skill">


    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="code-working-outline"></ion-icon>
      </div>

      <h3 class="h3">Programming</h3>
    </div>

    <ul class="skills-list content-card">

    <p class="timeline-text">
      <span class="highlight">Python</span> with knowledge of <span class="highlight">scientific packages</span> (NumPy, SciPy, Matplotlib, PyQt, mayavi). Some experience with Python packages dedicated to <span class="highlight">machine learning</span> and <span class="highlight">deep learning</span> applications (scikit-learn and PyTorch). <span class="highlight">C++</span> with ArrayFire (<span class="highlight">GPGPU supercomputing with CUDA and OpenCL</span>). Some notions of building a simple website with Django. Experience with <span class="highlight">Paraview</span> for scientific data visualization. Experience in <span class="highlight">Arduino for automating experimental setups</span>. Basic knowledge of HTML and CSS.

    </p>


    </ul>

  </section>
